@import url(../../../../../wp-admin/css/colors-fresh.css);

html, body, .wrap {
    background:#FFFFFF;
}

.form-table td, .form-table th {
    border-bottom-color:#FFFFFF;
}

#wphead, #footer, #footer-upgrade {
	/*
    background:#71A1EB;
    color:#FE984E;
    border:0;
	*/
}

#wphead a:link, #wphead a:visited, #wphead p, #footer a:link, #footer a:visited, #footer p {
    /*
	color:#FE984E;
	*/
}

#wpadminbar {
	background-color: black;
	border-bottom: 2px solid #db007a;
}

#wp-admin-bar-wp-logo > .ab-item .ab-icon {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	background-image: url(../../../../../wp-content/plugins/wp-plugin-briankeetman.nl-admin/assets/img/admin-bar-sprite.png?d=20111130); 
	background-position: 0 -76px;
	background-repeat: no-repeat;
}